@model EmpresaUTN.Modelos.Pais

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pais</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoPais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoPais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poblacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poblacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoISO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoISO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moneda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moneda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idioma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idioma)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
